<h1>フォロワーページ</h1>

        <% @follower_users.each do |follower_user| %>
            <br>
            <div class="">
                <%= link_to gravatar_for(follower_user, size: 50), follower_user %>
            </div>
            <div class="label label-info">
                <%= link_to follower_user.name, follower_user %>
            </div>
            <br><br><br><br>
        <% end %>
        
        <%= paginate @follower_items %>


