<h1>フォロワーページ</h1>

        <% @follower_users.each do |follower_user| %>
            <br>
            <div class="">
                <%= gravatar_for follower_user %>
            </div>
            <div class="label label-info">
                <%= follower_user.name %>
            </div>
            <br><br><br><br>
        <% end %>

