<h1>フォローページ</h1>

        <% @following_users.each do |following_user| %>
            <br>
            <div class="">
                <%= gravatar_for following_user %>
            </div>
            <div class="label label-info">
                <%= following_user.name %>
            </div>
            <br><br><br><br>
        <% end %>

