<h1>フォローページ</h1>

        <% @following_users.each do |following_user| %>
            <br>
            <div class="">
                <%= link_to gravatar_for(following_user, size: 50), following_user %>
            </div>
            <div class="label label-info">
                <%= link_to following_user.name, following_user %>
            </div>
            <br><br><br><br>
        <% end %>
        
        <%= paginate @following_items %>